<mat-tab-group>
  <!-- Tab -->
  <mat-tab label="Recent"> 
    <!-- Grid 3:7-->
      <mat-grid-list cols="5" rowHeight="5:12">
          <mat-grid-tile>
            <!-- Card -->
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shakhawat's Tech</mat-card-title>
                    <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <!-- <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p> -->
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button>LIKE</button>
                    <button mat-raised-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
          



          </mat-grid-tile>
          <mat-grid-tile>
              <!-- Card -->
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shakhawat's Tech</mat-card-title>
                      <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <!-- <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p> -->
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button>LIKE</button>
                      <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            
  
  
  
            </mat-grid-tile>    <mat-grid-tile>
                <!-- Card -->
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shakhawat's Tech</mat-card-title>
                        <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <!-- <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p> -->
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-raised-button>LIKE</button>
                        <button mat-raised-button>SHARE</button>
                      </mat-card-actions>
                    </mat-card>
              
    
    
    
              </mat-grid-tile>    <mat-grid-tile>
                  <!-- Card -->
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shakhawat's Tech</mat-card-title>
                          <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <!-- <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p> -->
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button>LIKE</button>
                          <button mat-raised-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                
      
      
      
                </mat-grid-tile>
          <mat-grid-tile>
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shakhawat's Tech</mat-card-title>
                    <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <!-- <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p> -->
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button>LIKE</button>
                    <button mat-raised-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
          


          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shakhawat's Tech</mat-card-title>
                    <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <!-- <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p> -->
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button>LIKE</button>
                    <button mat-raised-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
          



          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shakhawat's Tech</mat-card-title>
                    <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <!-- <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p> -->
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button>LIKE</button>
                    <button mat-raised-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
          

          </mat-grid-tile>
          <mat-grid-tile>
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shakhawat's Tech</mat-card-title>
                    <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <!-- <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p> -->
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button>LIKE</button>
                    <button mat-raised-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
          


          </mat-grid-tile>
        </mat-grid-list>
  </mat-tab>
  
  <mat-tab label="Famous"> High rated Books </mat-tab>
  <mat-tab label="Latest"> New uploaded Books </mat-tab>
  <mat-tab label="All Books"> 
    
       <!-- Tab -->
      <!-- Grid 3:7-->
        <mat-grid-list cols="5" rowHeight="5:12">
            <mat-grid-tile>
              <!-- Card -->
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shakhawat's Tech</mat-card-title>
                      <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <!-- <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p> -->
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button>LIKE</button>
                      <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <!-- Card -->
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shakhawat's Tech</mat-card-title>
                        <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <!-- <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p> -->
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-raised-button>LIKE</button>
                        <button mat-raised-button>SHARE</button>
                      </mat-card-actions>
                    </mat-card>
              </mat-grid-tile>
              <mat-grid-tile>
                  <!-- Card -->
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shakhawat's Tech</mat-card-title>
                          <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <!-- <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p> -->
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button>LIKE</button>
                          <button mat-raised-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <!-- Card -->
                      <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shakhawat's Tech</mat-card-title>
                            <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                            <!-- <p>
                              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                              bred for hunting.
                            </p> -->
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-raised-button>LIKE</button>
                            <button mat-raised-button>SHARE</button>
                          </mat-card-actions>
                        </mat-card>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <!-- Card -->
                        <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shakhawat's Tech</mat-card-title>
                              <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <!-- <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                              </p> -->
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-raised-button>LIKE</button>
                              <button mat-raised-button>SHARE</button>
                            </mat-card-actions>
                          </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <!-- Card -->
                          <mat-card class="example-card">
                              <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shakhawat's Tech</mat-card-title>
                                <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                              <mat-card-content>
                                <!-- <p>
                                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                  bred for hunting.
                                </p> -->
                              </mat-card-content>
                              <mat-card-actions>
                                <button mat-raised-button>LIKE</button>
                                <button mat-raised-button>SHARE</button>
                              </mat-card-actions>
                            </mat-card>
                      </mat-grid-tile>

            <mat-grid-tile>
                <!-- Card -->
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shakhawat's Tech</mat-card-title>
                        <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                        <!-- <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p> -->
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-raised-button>LIKE</button>
                        <button mat-raised-button>SHARE</button>
                      </mat-card-actions>
                    </mat-card>
              </mat-grid-tile>  
              
              
              <mat-grid-tile>
                  <!-- Card -->
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Shakhawat's Tech</mat-card-title>
                          <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <!-- <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                          </p> -->
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button>LIKE</button>
                          <button mat-raised-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                </mat-grid-tile>  
                
                
                <mat-grid-tile>
                    <!-- Card -->
                      <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shakhawat's Tech</mat-card-title>
                            <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                          <mat-card-content>
                            <!-- <p>
                              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                              bred for hunting.
                            </p> -->
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-raised-button>LIKE</button>
                            <button mat-raised-button>SHARE</button>
                          </mat-card-actions>
                        </mat-card>
                  </mat-grid-tile>


              <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shakhawat's Tech</mat-card-title>
                      <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <!-- <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p> -->
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button>LIKE</button>
                      <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shakhawat's Tech</mat-card-title>
                      <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <!-- <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p> -->
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button>LIKE</button>
                      <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shakhawat's Tech</mat-card-title>
                      <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <!-- <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p> -->
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button>LIKE</button>
                      <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shakhawat's Tech</mat-card-title>
                      <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <!-- <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p> -->
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button>LIKE</button>
                      <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>

          </mat-grid-list>
  </mat-tab>
</mat-tab-group>



<mat-tab-group>
  <mat-tab label="First"> 
    <!-- card start -->
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shakhawat's Tech</mat-card-title>
        <mat-card-subtitle>Eclipse Maven Spring Boot </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/Blue and Cream Science Fiction Book Cover.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <!-- <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>LIKE</button>
        <button mat-raised-button>SHARE</button>
      </mat-card-actions>
      <!-- card end -->
    </mat-card>
    




  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
